<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ManageSubject</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>

<script th:src="@{/managesubject.js}"></script>
<link th:href="@{/main.css}" rel="stylesheet" />
<head>
<body ng-app="SubjectManagement" ng-controller="SubjectController">
	<h3>Quản lý Môn học</h3>
	<br />
	<form ng-submit="submitSubject()">
		<table class="btn btn-basic">
			<tr>
				<td>Subject Id</td>
				<td>{{subjectForm.subjectId}}</td>
			</tr>
			<tr>
				<td>Subject Full Name</td>
				<td><input type="text" ng-model="subjectForm.subjectName" /></td>
			</tr>
			<tr>
				<td>Subject Limit</td>
				<td><input type="text" ng-model="subjectForm.subjectLimit" /></td>
			</tr>
			<tr>
				<td>Subject Register</td>
				<td><input type="text" ng-model="subjectForm.subjectRegister" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Submit"
					class="blue-button" /></td>
			</tr>
		</table>
	</form>
	<br />
	<a class="create-button" ng-click="createSubject()">Create Subject</a>
	<table border="1">
		<tr>
			<th>Subject Id</th>
			<th>Subject  Name</th>
			<th>Subject Limit</th>
			<th>Subject Register</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<!-- $scope.employees -->
		<tr ng-repeat="subject in listSubjects">
			<td>{{ subject.subjectId }}</td>
			<td>{{ subject.subjectName }}</td>
			<td>{{ subject.subjectLimit }}</td>
			<td>{{ subject.subjectRegister }}</td>
			<td><a ng-click="editSubject(subject)" class="edit-button">Edit</a>
			</td>
			<td><a ng-click="deleteSubjectsubject)" class="delete-button">Delete</a>
			</td>
		</tr>
	</table>
</body>
</html>