<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ManageStudent</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>

<script th:src="@{/managestudent.js}"></script>
<link th:href="@{/main.css}" rel="stylesheet" />
<head>
<body ng-app="StudentManagement" ng-controller="StudentController">
	<h3>Quản lý sinh viên</h3>
	<br />
	<form ng-submit="submitStudent()">
		<table class="btn btn-basic">
			<tr>
				<td>Student Id</td>
				<td>{{studentForm.id}}</td>
			</tr>
			<tr>
				<td>Student Full Name</td>
				<td><input type="text" ng-model="studentForm.fullName" /></td>
			</tr>
			<tr>
				<td>Student Course</td>
				<td><input type="text" ng-model="studentForm.course" /></td>
			</tr>
			<tr>
				<td>Student Institute</td>
				<td><input type="text" ng-model="studentForm.institute" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Submit"
					class="blue-button" /></td>
			</tr>
		</table>
	</form>
	<br />
	<a class="create-button" ng-click="createStudent()">Create Student</a>
	<table border="1">
		<tr>
			<th>Student Id</th>
			<th>Student Full Name</th>
			<th>Student Course</th>
			<th>Student Institute</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<!-- $scope.employees -->
		<tr ng-repeat="student in listStudents">
			<td>{{ student.id }}</td>
			<td>{{ student.fullName }}</td>
			<td>{{ student.course }}</td>
			<td>{{ student.institute }}</td>
			<td><a ng-click="editStudent(student)" class="edit-button">Edit</a>
			</td>
			<td><a ng-click="deleteStudent(student)" class="delete-button">Delete</a>
			</td>
		</tr>
	</table>
</body>
</html>